#image_header{
    background-color: #7da1b1;
    height: 200px;
    width: 100%;
}
/*
#weather_api{
    background-color: #0f1617;
    opacity: 0.8;
    height: 150px;
    color: white;
    text-align: center;
}
*/


/* #astro, #max-min-section, #local-time, #current-location{
    display: inline;
    margin-right: 300px;
    font-size: 8px;

} */

#filter_container{
    background-color: #cce0dd;
    height: 600px;
}
#filter_boxes{
    background-color: #7da1b1;
    height: 300px;
    margin: 50px 0 50px 20px;
    padding: 50px;

}
/* #filter_1, #filter_2, #filter_3{
    background-color: white;
    padding: 0 7px 0 7px;
    margin: 10px;
} */
/* #filter_1{
    margin: 50px 0 50px 0;  
    width: 15%;
    height: 25%;
    background-color: #395462;
    padding: 0 7px 0 7px; 
} */
#filter_2{
    width: 100%;
}
#search_button{
    height: 75px;
    margin: 85px 300px 0 300px;

}
#search{
    font-size: 2em;
    margin: 50px 100px 50px 100px;
}

#map{
    background-image: url("images/7131.jpg");
    height: 600px;
    margin: auto;
    width: 75%
}


#footer{
    background-color: #395462;
    height: 200px;
}
/* #input:checked {
    width: 50%;
} */

.container {
    display: flex;
    justify-content: center;
  }
/* .center {
    width: 100px;
  } */
#bar {
    color: white;
    width: 100%;
}
.pic {
    float: center;
    width: 13%;
    max-width: 300px;
    min-width: 250px;
    text-align: center;
}

#search{
    font-size: 2em;
    margin: 50px 200px 0 200px;
}

#container {
    position: relative;    
}

#example {
   position: absolute;
   width: 30%;
   top: 10px;
   left: 10px; 
   margin: 20% 40% 10% 40%;;
   padding: 5px;
   background-color: #7da1b1;
   border: 2px solid black;
}

#box1{
    width: 50%;
    margin: 5% auto;
    background-color: rgba(18, 20, 22, 0.5);;
    padding: 2%;
    border-radius: 10px;

}






/* Below is CSS Code for Slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.navbar{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 0 !important;
    height: 50px;

}



li{
list-style-type: none;
display: inline
}
    

.nav{
    
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin-left:20px;
}
a.navPush{
    text-decoration: none;
    color: white !important;
    padding-right: 45px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
}

#weather-icon{
    display: inline-block;
}

#weather{
    display: flex;
    justify-content: start;

}

#weather2{
    display: flex;
    justify-content: end;
}

#current-temp {
    position: absolute;
    right: 55px;
    top: 2px;
}




/* Event's */
#event2 {
    background-image: -webkit-linear-gradient(#7da1b1, #395462);
    margin-left: 3em;
    margin-right: 3em;

}

img.resize {
    display: block;
    max-width: 200px;
    max-height: 200px;
    align-items: end;
    border-radius: 5px;

}

#event1 {
    margin-right: 5em;
}

h1.welcome {
    margin-left: 1%;
    margin-top: 3%;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}

h1.welcome1{
    margin-left: 20%;
    margin-top: 0%;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;

}
label{
    color: #f2f2f2;
    font-size: 1em;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;

}

.Font{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}

input#location {
    margin-top: 1%;
}

.back{
    background-image: url('images/7526.jpg');
}

#container{
    position: absolute;
    z-index: 1;
    top: 100px;
    width: 100%;
    
}

td {
    width: 200px;
    height: 50px;
}

.searchBox {
    border-radius: 8px;
    min-width: 25%;
    height: 40px;

}
